<div class="header">
    <img src="images/dog_hotel.png" class="logo" />
<div class="header-right">
    <a  class="active" href="#!/">Home</a>
    <a  href="#!/dashboard">Dashboard</a>
    <a  href="#!/manage">Owners</a>
</div>
</div>
<div class="manageOwners">
    <h3>Add Owner</h3>
    <input class="ownerName" type="text" placeholder="Owner Name" ng-model="vm.newOwner.owner_name" />
    <button class=submitButton ng-click="vm.submitOwner()">Submit</button>
</div>
<div class="ownersHistory">
    <h3>Owners</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Pets</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="owner in vm.ownersList.list">
                <td>{{owner.owner_name}}</td>
                <td>{{owner.count}}</td>
                <td>
                    <button class=deleteButton ng-click="vm.deleteOwner(owner)">Delete</button>
                </td>
            </tr>
        </tbody>
</div>
