<div class="header">
    <h2>Pet Hotel</h2>
</div>
<div class="navBar">
    <ul>
        <li>
            <a href="#!/">Home</a>
        </li>
        <li>
            <a href="#!/dashboard">Dashboard</a>
        </li>
        <li>
            <a href="#!/manage">Manage Owners</a>
        </li>
    </ul>
</div>
<div class="manageOwners">
    <h3>Add Owner</h3>
    <input class="ownerName" type="text" placeholder="Owner Name" ng-model="vm.newOwner.owner_name" />
    <button class=submitButton ng-click="vm.submitOwner()">Submit</button>
</div>
<div class="ownersHistory">
    <h3>Owners</h3>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Pets</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="owner in vm.ownersList.list">
                <td>{{owner.owner_name}}</td>
                <td>{{owner.count}}</td>
                <td>
                    <button class=deleteButton ng-click="vm.deleteOwner(owner)">Delete</button>
                </td>
            </tr>
        </tbody>
</div>
